{% extends 'index.html'%}
{% block content %}
<style>
    .btn-transparent {
        border: none;
        padding: 0;
        background: transparent;
    }

    .btn-transparent img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 0;
    }
</style>
<h2><center>Type</center></h2>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'children' %}" class="btn btn-primary btn-lg active btn-transparent" role="button" aria-pressed="true">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh7xvwCLApBoeFQ--jfBzeoWINn6rI0YoE2A&s" alt="First slide">
            </a>
            <h2><center>show</center></h2>
        </div>
        <div class="col">
            <a href="{% url 'children' %}" class="btn btn-primary btn-lg active btn-transparent" role="button" aria-pressed="true">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh7xvwCLApBoeFQ--jfBzeoWINn6rI0YoE2A&s" alt="Second slide">
            </a>
        </div>
        <div class="col">
            <a href="{% url 'children' %}" class="btn btn-primary btn-lg active btn-transparent" role="button" aria-pressed="true">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh7xvwCLApBoeFQ--jfBzeoWINn6rI0YoE2A&s" alt="Third slide">
            </a>
        </div>
    </div>
</div>
{% endblock %}