{% extends 'index.html'%}
{% block content %}
<style>
    .btn-transparent {
        border: none;
        padding: 0;
        background: transparent;
    }

    .btn-transparent img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 30px;
    }
</style>
<h2><center>Type</center></h2>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'kids_tshirt' %}" class="btn btn-primary btn-lg active btn-transparent" role="button" aria-pressed="true">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlYe1hqfskAtlG0B-ZtXwH6VG0VQian7sqgQ&s" alt="First slide">
            </a>
            <h3>&emsp; &ensp;T shirt</h3>
        </div>
        <div class="col">
            <a href="{% url 'kids_shirt' %}" class="btn btn-primary btn-lg active btn-transparent" role="button" aria-pressed="true">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA-Ym21f0Vbsil4xsd6WrVFTDrrZrs844PxA&s" alt="Second slide">
            </a>
            <h3>&emsp; &emsp;Shirt</h3>
        </div>
        <div class="col">
            <a href="{% url 'kids_pant' %}" class="btn btn-primary btn-lg active btn-transparent" role="button" aria-pressed="true">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs4IduT-hohKZr_1GZesPTv8iEnLzh0g-ZHw&s" alt="Third slide">
            </a>
            <h3>&emsp; &emsp;pant</h3>
        </div>
    </div>
</div>
{% endblock %}